
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 380px;
    width: 480px;
    background: rgba(38, 38, 51, 1);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    opacity: 3.9;
}

.btn{
    width: 200px;

}

.form-group {
    color:#F9EFC1;
}

body{
    background:rgb(5, 32, 45);
}

#app{
    background:rgb(5, 32, 45);
}


#header{
    color: #F9EFC1;
}