

.card-body form-input {
    display: inline-block;
    width:100%;
    padding: 0 20px;
    line-height:50px;
    background:white;
    border:solid 1px #e6e6e6;
    border-bottom-width:3px;
    border-radius:5 px;
    outline: none;
}